HLC/JSON/Practica 1/Ejercicio 2/pokemon.dtd

<!ELEMENT pokemon (nombre, ataques, tipos, peso, imagenes)>
<!ELEMENT nombrePokemon (#PCDATA)>
<!ELEMENT ataques (ataque+)>
<!ELEMENT ataque (nombre)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT tipos (tipo+)>
<!ELEMENT tipo (nombre)>
<!ELEMENT peso (#PCDATA)>
<!ELEMENT imagenes (imagen_delantera, imagen_trasera)>
<!ELEMENT imagen_delantera (#PCDATA)>
<!ELEMENT imagen_trasera (#PCDATA)>